

*{box-sizing: border-box;}
p:first-letter{color:#8bb821;
	font-size:x-large;}

body {
	background-color: #c4965a;
	color: #221811;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0;
	
}

#wrapper {
	background-color: #0c4b42;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 900px;
	max-width: 1280px;
}

header {
	background-color: #c4965a;
	background-repeat: no-repeat;
	color: #231814;
	height: 110px;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}

h1 {
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#6d911b;
}

h2,h3,h4,h5 {
	font-size: 1.5em;
	color: #8bb821;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
}


dt {
	color: #8bb821;
}


nav {
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 1px;
	flex-wrap: wrap;
	
}
nav a {
	text-decoration: none;
}

nav a:link {
	color: #1dd4bc;
}

nav a:visited {
	color: #8bb821;
}

nav a:hover {
	color: #b9741a;
}


nav ul {
	display:flex;
	font-size: 2em;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

main {
	background-color: #ecc775;
	display: block;
	padding: 0 0 2em 0;
}

h2,h3,h4,h5,p,div,ul,dl 
{
	padding-left: 1em;
	padding-right: 1em;
}

main ul {
	padding-left: 2em;
}


#yard {
	height: 300px;
	background-image: url(images/yard.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#spencer {
	height: 300px;
	background-image: url(images/spencer.jpg);
	background-repeat: no-repeat;
	background-size: 70% 200%;
}

#kam {
	height: 300px;
	background-image: url(images/kam.jpg);
	background-repeat: no-repeat;
	background-size: 30% 160%;
}

#colin{
	height: 300px;
	background-image: url(images/colin.jpg);
	background-repeat: no-repeat;
	background-size: 50% 90%
}

#caleb{	height: 300px;
background-image: url(images/caleb.jpg);
background-repeat: no-repeat;
background-size: 40% 170%
}
#trim{
	height: 300px;
	background-image: url(images/trim.jpg);
	background-repeat: no-repeat;
	background-size: 80% 100%;
}

#mow{
	height: 400px;
	background-image: url(images/mowing.jpg);
	background-repeat: no-repeat;
	background-size: 80% 110%;

}

#sprinkler{
	height: 300px;
	background-image: url(images/sprinkler.jpg);
	background-repeat: no-repeat;
	background-size: 80% 115%;
}
#mobile {
	display: inline;
}

#desktop {
	display: none;
}

footer {
	background-color: #c4965a;
	font-size: .80em;
	font-style: italic;
	text-align: center;
	padding-bottom: 3em;
	border-top: 2px solid #0c4b42;
}

@media (min-width: 600px) {
	header {
		padding-left: 0;
		text-align: center;
	}

	h1 {
		font-size: 3em;
	}

	nav ul {
		flex-flow: row nowrap;
		justify-content: space-around;
	}

	nav li {
		border-bottom: none;
	}

	#yard {
		background-image: url(images/yard.jpg);
		height: 50vh;
	}

	#mow {
		background-image: url(images/mowing.jpg);
	}

	#kam {
		background-image: url(images/kam.jpg);
	}

	#spencer {background-image: url(images/spencer.jpg);
	}

	#sprinkler{background-image: url(images/sprinkler.jpg);
	}

	#trim{background-image: url(images/trim.jpg);
	}
	
	#flow {
		display: flex;
		flex-direction: row;
	}

	#mobile {
		display: none;
	}

	#desktop {
		display: inline;
	}

	.details {
		display: flex;
		flex-direction: row;
	}

	h4 {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media (min-width: 1024px) {
	@supports (display: grid) {
		header {
			grid-area: header;
		}

		nav {
			grid-area: nav;
		}

		main {
			grid-area: main;
		}

		footer {
			grid-area: footer;
		}

		#wrapper {
			display: grid;
			grid-template:
				"header header"
				"nav    main"
				"footer footer"
				/ 200px;
		}

		nav ul {
			flex-direction: column;
		}

		
	}
}